<div class="container-fluid">
    <div class="row">
        <div *ngIf="sidebarStatus" style="height: 92vh;width: fit-content;" class="col-lg-2 bg-dark d-flex flex-column p-3">
           <a style="text-decoration: none;color: white;" class="mb-3 fw-bolder" routerLink="/dashboard">Home</a>
           <a style="text-decoration: none;color: white;" class="mb-3 fw-bolder" routerLink="/users">Users</a>
           <button (click)="logout()" class="btn btn-link mt-auto text-light">Logout</button>
        </div>
        <div class="col">
            <div class="row mt-2">
                <div class="col-lg-8">
                    <div style="height: 140px; background-image: url('https://storage.needpix.com/rsynced_images/banner-1989514_1280.png'); background-size: cover;" class="banner rounded p-3 d-flex align-items-center shadow ">
                      <h1><i (click)="menuClicked()" class="fa-solid fa-bars me-2 text-light btn"></i>Welcome {{adminName}}</h1>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <app-calander></app-calander>
                        </div>
                        <div class="col-lg-6">
                            <app-chart></app-chart>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div style="height: 370px;" class="rounded p-2 border shadow">
                        <app-edit-admin (onAdminChange)="adminChange($event)"></app-edit-admin>
                    </div>
                    <div style="height: 140px; background-image: url('https://t4.ftcdn.net/jpg/04/96/14/41/360_F_496144188_FzyZDjs8H7t0VVXrN7ynvJwer0qtaioq.jpg'); background-size: cover;" class="banner rounded mt-2 d-flex align-items-center shadow justify-content-center">
                        <h1><i class="fa-solid fa-users me-2 text-light"></i>All Users : {{userCount}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
